@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Bem vido</h1>
    <p>Aplicação sobre: CancellationToken, exemplo</p>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">Processamento com cancellationToken</h5>

                <button class="btn btn-success" id="btnStartCancellationToken">
                    <span class="btn-text">Iniciar</span>
                    <span class="spinner-border spinner-border-sm d-none"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">Processamento Sem cancellationToken</h5>

                <button class="btn btn-success" id="btnStartNoCancellation">
                    <span class="btn-text">Iniciar</span>
                    <span class="spinner-border spinner-border-sm d-none"></span>
                </button>

            </div>
        </div>
    </div>
</div>


